<!-- <div class="bg-primary"> bootstrap is simple </div> -->

 <div class="container"> 
  <div></div>
  <div class="automation__page">
    <div class="header">
      Interface Assignment Process
    </div>
    <form class="form">
      <div *ngIf="isUniqueNumberGenerated">
        form data type: {{ formData.type }} and unique no is: {{ uniqueNuber }}
      </div>
      <div class="form_item">
        <label>Project  </label> 
        <input type="text" name="project_name" placeholder="name" [(ngModel)]="formData.name" />
      </div>
      <div class="form_item">
        <label>Type Interface</label>
        <select name="type" id="type" [(ngModel)]="formData.type" >
          <option>Select</option>
          <option value="BW5x">BW5x</option>
          <option value="Internal">Internal</option>
          <option value="BW6x">BW6x</option>
        </select>
      </div>
      <div class="form_item">
        <label>Description</label>
        <input type="text" name="project_description" placeholder="description" [(ngModel)]="formData.description"  />
      </div>
      <div class="form_item">
        <label>ISR/RITM   </label>
        <input type="text" name="project_isr__ritm" placeholder="isr/ritm" [(ngModel)]="formData.isr_ritm" />
      </div>
      <div class="form_item">
        <label>Comments  </label>
        <input type="text" name="project_comments" placeholder="comment" [(ngModel)]="formData.comments"  />
      </div>
      <div class="form_item">
        <button (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
  <div></div>
</div> 